*{
	margin:0px;
	padding: 0px;	
}

header{
	margin:100px auto;
	width: 1600px;
	height: 200px;
}

nav ul {
    list-style: none;

}
nav ul li {
	float: left;
	width: 220px;
	height:260px;
	margin : 15px;
  padding: 5px;
	text-align:center;
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: 0px 0px 10px #2F4F4F;
  -moz-transition-duration:0.3s;
  -webkit-transition-property: width, height 2s;
  transition-property: width, height;
}

nav ul li:hover{
  background:   #F0FFF0;
  box-shadow: 2px 3px 8px #2F4F4F;
  width: 240px;
  height: 280px;
}

.p1{
	margin: 15px;
	font-style: italic;
	font-size: 13px;
}
.p2{
	margin: 15px;
	text-align: justify;
}
@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("untitled-font-1.eot");
  src:url("untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("untitled-font-1.woff") format("woff"),
    url("untitled-font-1.ttf") format("truetype"),
    url("untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" ;
  font-style: normal;
  font-weight: normal ;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
}

.icon-food:before {
  content: "\61";
}
.icon-cup:before {
  content: "\62";
}
.icon-diamond:before {
  content: "\63";
}
.icon-paperplane:before {
  content: "\64";
}
.icon-heart:before {
  content: "\65";
}